.form-control:focus {
    box-shadow: none  !important;
    border-color: #198754 !important;
}

.btn-primary {
    background-color: #198754 !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #198754 !important;
    border: none !important;
}

.btn-primary:focus {
    box-shadow: none !important;
}

.form-check-input:checked {
    background-color: #198754 !important;
    border-color: #198754 !important;
    box-shadow: none !important;
}

@media (max-width: 871px) {
    .col-6 {
        width: 100% !important;
    }
}